#buttonDiv {
	text-align:center;
}

#raw {
	width: 100%;
	height: 100%; 
	background:#fff;
	border:1px solid #000;
}

#obfuscated {
	width: 100%;
	height: 100%; 
	background:#fff;
	border:1px solid #000;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0px;
}

#container {
	position: relative;
	height: 100%;
	width: 100%; 
	overflow: auto;
}

#left, #right {
	position: absolute;
	height: 80%; 
	margin-top: 1em;
	width: 40%;
	overflow: auto;
	
}

#left {
	left: 0px;
}

#right {
	right: 0px; 
}
